include header.pug 
.container
     .row
          .col-8.offset-2
               .card.mt-5.shadow
                    .card-header.h2.text-bg-success Student data
                    .card-body
                         table.table.table-bordered.table-striped.table-hover
                              thead
                                   tr
                                        th Sr no
                                        th Name
                                        th Phone
                                        th City
                                        th Country
                              tbody
                                   tr
                                        td 1
                                        td Param
                                        td 9016229330
                                        td Bhavnagar
                                        td India
include footer.pug 